In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
#pd.set_option('display.width', None)
#pd.set_option('display.max_colwidth', None)

import sys
sys.path.append('/Users/meskara/Desktop/Github/Job_Market')

from src.Components.Data_Ingest import ListtoFDataFrame
from src.Components.Data_Transformation import DataFrame

In [8]:
folder_path = '/Users/meskara/Desktop/Github/Job_Market/src/Notebook/Data'

df = ListtoFDataFrame.DataIngestFunction(folder_path= folder_path)

In [9]:
df

,job_id,title,comapany,date,location,place,job_function,employment_type,industries,description
0,2803917600,Entry Level Big Data Engineer,Comcast,2021-10-28,United States,"West Chester, PA",Engineering and Information Technology,Full-time,"IT Services and IT Consulting, Internet Publis...",Comcast brings together the best in media and ...
1,2785048853,Junior Big Data Engineer,Citi,2021-10-10,United States,"Tampa, FL",Engineering and Information Technology,Full-time,"Banking, Financial Services, and Investment Ba...",Job Id: 21360388\n\nThe Applications Developme...
2,2819565442,Big Data Engineer,Braintrust,2021-12-02,United States,"Marina District, CA",Engineering and Information Technology,Full-time,"Online Media, Publishing, and Internet Publishing","JOB TYPE: Freelance, Contract Position - No ag..."
3,2818898895,Big Data Engineer - Telecommute,Optum,2021-12-03,United States,"Columbia, MD",Engineering and Information Technology,Full-time,"IT Services and IT Consulting, Wellness and Fi...",Combine two of the fastest-growing fields on t...
4,2789623674,Big Data Engineer,Zoom,2021-12-03,United States,"New York, NY",Engineering and Information Technology,Full-time,"IT Services and IT Consulting, Computer Softwa...",We’re looking for a Big Data Engineer who can ...
...,...,...,...,...,...,...,...,...,...,...
5501,2799429762,Data Scientist,Meta,2021-11-19,United States,"New York, NY",Engineering and Information Technology,Full-time,Internet Publishing,Facebook's mission is to give people the power...
5502,2807137983,"Data Scientist, Product Analytics",Meta,2021-11-20,United States,"Austin, TX",Engineering and Information Technology,Full-time,Internet Publishing,Facebook's mission is to give people the power...
5503,2794649106,Operations Research Data Scientist (Staff-Leve...,Walmart Global Tech,2021-11-16,United States,"Dallas, TX","Engineering, Information Technology, and Suppl...",Full-time,"Transportation, Logistics and Storage, Compute...",The Merchant Data Science team researches and ...
5504,2800194595,Applied Machine Learning Engineer,Coinbase,2021-11-19,United States,"Washington, DC",Engineering and Information Technology,Full-time,"IT Services and IT Consulting, Computer Softwa...",Coinbase has built the world's leading complia...
5505,2807145771,Data Scientist,TechDigital Corporation,2021-11-20,United States,"Bridgewater, NJ",Information Technology,Contract,IT Services and IT Consulting,Job Title : Data Scientist - SO for CWR\n\nQua...

In [11]:
df_new = DataFrame.Ingest(df)

In [12]:
df_new

,job_id,title,comapany,date,location,place,job_function,employment_type,industries,description
0,NaN,entry level big data engineer,comcast,2021-10-28,united states,"west chester, pa",engineering and information technology,full-time,"it services and it consulting, internet publis...",comcast brings together the best in media and ...
1,NaN,junior big data engineer,citi,2021-10-10,united states,"tampa, fl",engineering and information technology,full-time,"banking, financial services, and investment ba...",job id: 21360388\n\nthe applications developme...
2,NaN,big data engineer,braintrust,2021-12-02,united states,"marina district, ca",engineering and information technology,full-time,"online media, publishing, and internet publishing","job type: freelance, contract position - no ag..."
3,NaN,big data engineer - telecommute,optum,2021-12-03,united states,"columbia, md",engineering and information technology,full-time,"it services and it consulting, wellness and fi...",combine two of the fastest-growing fields on t...
4,NaN,big data engineer,zoom,2021-12-03,united states,"new york, ny",engineering and information technology,full-time,"it services and it consulting, computer softwa...",we’re looking for a big data engineer who can ...
...,...,...,...,...,...,...,...,...,...,...
5499,NaN,data scientist,sysco,2021-11-09,united states,"houston, tx",engineering and information technology,full-time,"construction, food and beverage services, and ...","company\n\nus6469 sysco payroll, division of s..."
5500,NaN,data scientist with python for $ backed ai sta...,optello,2021-11-18,united states,"boston, ma",information technology,full-time,"it services and it consulting, computer softwa...",if you are a data scientist who is looking to ...
5501,NaN,data scientist,meta,2021-11-19,united states,"new york, ny",engineering and information technology,full-time,internet publishing,facebook's mission is to give people the power...
5503,NaN,operations research data scientist (staff-leve...,walmart global tech,2021-11-16,united states,"dallas, tx","engineering, information technology, and suppl...",full-time,"transportation, logistics and storage, compute...",the merchant data science team researches and ...
5505,NaN,data scientist,techdigital corporation,2021-11-20,united states,"bridgewater, nj",information technology,contract,it services and it consulting,job title : data scientist - so for cwr\n\nqua...